body {
    background-color: rgb(210, 209, 209);
}

#navigation {
    display: flex;
    background-color: rgb(85, 134, 203);
    margin: 0px;
}


#input1 {
    height: 30px;
    margin-top: 12px;
    margin-left: 70px;
    border-radius: 7px 0px 0px 7px;
    width: 250px;
}

.ai {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

.ai :hover {
    text-decoration: underline;
}

#ai {
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 30px;
    margin-top: 7px;
    margin-left: 80px;
}

#icon-se {
    height: 34px;
    border: 1px solid black;
    margin-top: 12px;
    width: 40px;
    background-color: rgb(75, 67, 67);
    border-radius: 0px 7px 7px 0px;
}

#icon-se>i {

    color: white;
    display: flex;
    margin-top: 9px;
    justify-content: center;
}

#download {
    height: 35px;
    width: 300px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 40px;
    background-color: rgb(75, 67, 67);
    color: white;
    border-radius: 8px;
}

#download:hover {
    height: 40px;
    width: 300px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 40px;
    background-color: rgb(75, 67, 67);
    color: white;
    border-radius: 8px;
}

#user>i {
    margin-top: 20px;
    margin-left: 70px;
}

#ex {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
    margin-left: 7px;
}

/* nav2 */

#nav2 {
    display: flex;
    justify-content: space-evenly;

}

.n2 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 20px;
}

.n2:hover {
    text-decoration: underline;
}

#f-box {
    margin: 30px;
    height: 300px;
    width: 650px;
    background-color: white;
    display: flex;
    border-radius: 15px;
}

#beta {
    font-size: 15px;
    margin-left: 20px;
    /* display: flex;
    margin: auto;
    justify-content: center;    */
    position: relative;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 130px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(12, 12, 234), rgb(94, 148, 243));
}

#ai-search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font: bolder;
    position: relative;
    top: 50px;
    left: 22px;
    display: flex;
}

#start-ai {
    position: relative;
    top: 90px;
    left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

#start-ai>a {
    text-decoration: none;
    color: rgb(85, 134, 203);
}

#start-ai>a>i {
    color: rgb(85, 134, 203);
    margin-left: 10px;
}

#describe {
    position: relative;
    top: 70px;
    left: 22px;
}

#image1 {
    justify-content: end;
    height: 200px;
    margin-left: 62px;
    margin-top: 35px;
}

#s-box {
    margin-top: 55px;
    height: 250px;
    width: 530px;
    background-color: white;
    border: 2px solid black;
    border-radius: 13px;
}

#main {
    display: flex;
}

#s-box>img {
    float: right;
    position: relative;
    top: -150px;
    right: -20px;
    height: 300px;
}

#ex {
    margin-right: 20px;
}

#unlock {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* margin-left: 30px; */
    position: relative;
    top: 30px;
    left: 30px;
}

#price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 30px;
}

#butt {
    color: white;
    background-color: rgb(85, 134, 203);
    border-radius: 5px;
    height: 30px;
    width: 140px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 17px;
    top: 30px;
    left: 30px;
    border: 0px;
}


#main-free {
    display: flex;
    width: 510px;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
}

#free-files {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 150px;
    background-color: white;
    border-radius: 9px;
    background-color: rgb(85, 134, 203);
    text-align: center;
    padding-top: 10;
}

#curated {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 150px;
    background-color: white;
    border-radius: 9px;
    background-color: rgb(85, 134, 203);
    text-align: center;
}

#added {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 180px;
    background-color: white;
    border-radius: 9px;
    background-color: rgb(85, 134, 203);
    text-align: center;
}

/* #three-image
{
    height: 100px;
    background-color: white;
    width: 180px;
} */

#three-image {
    height: 400px;
    width: 95%;
    background-color: white;
    margin-left: 30px;
    margin-top: 3%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

#three-one {
    height: 300px;
    width: 365px;
    background-color: rgb(85, 134, 203);
    border-radius: 10px;
}

#three-two {
    height: 300px;
    width: 365px;
    background-color: rgb(85, 134, 203);
    border-radius: 10px;
}

#three-three {
    height: 300px;
    width: 365px;
    background-color: rgb(85, 134, 203);
    border-radius: 10px;
}

#minimal {
    border-radius: 10px 10px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

#three-one>p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#three-one>div>h5 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

#dw {
    display: flex;
    justify-content: space-evenly;

}

#download-image {
    font-size: 25px;
    color: rgb(75, 67, 67);
}

#perent {
    display: flex;
    justify-content: center;
}

#down {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 67, 67);
    font-size: 20px;
}

#perent-box {
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

#f-perent {
    display: flex;
    justify-content: center;
}

#google {
    height: 45px;
    width: 320px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
}

#main-google {
    /* display: flex; */
    justify-content: center;
    position: relative;
    top: 20px;
    margin-left: 10%;

}

#goog {
    margin-right: 15px;
}

#google>img {
    margin: 8px;
}

#google>a>p {
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;

}

#google>a {
    text-decoration: none;
}

#apple {

    margin-right: 10px;
}

#apple {
    height: 45px;
    width: 320px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
}

#apple>img {
    margin-right: 50px;
    margin-top: 6px;
    margin-left: -5px;
}

#apple>a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#or {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8%;
    font-size: 14px;
}

#perent-user {
    height: 120px;
    width: 320px;
    /* border: 2px solid black; */
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 10px;
}

#userNAme {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#ur {
    display: flex;
    justify-content: space-between;
}

#rem {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(55, 55, 248);
}

#user-name {
    height: 35px;
    width: 312px;
    position: relative;
    top: 10%;
    bottom: 10%;
}

#user-pass {
    height: 35px;
    width: 312px;
    position: relative;
    top: 1%;
}

#userPass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 25px;
}

#forgot {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(55, 55, 248);
}

#perent-submit
{
    display: flex;
    justify-content: center;
}
#submit
{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 320px;
    margin-top: 15%;
    background-color: rgb(75, 67, 67);
    border-radius: 3px;
}

#submit :hover
{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 320px;
    margin-top: 15%;
    background-color: rgb(48, 44, 44);
    border-radius: 3px;
}

#create
{
    display: flex;
    justify-content: center;
}

#cre
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#blue
{
    color: rgb(55, 55, 248);
}

#free12
{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    height: 50px;
    /* border: 2px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}

#free2
{
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 15px;
    /* border: 2px solid black; */
    font-family: Arial, Helvetica, sans-serif;
}
#free3
{
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 15px;
    /* border: 2px solid black; */
    font-family: Arial, Helvetica, sans-serif;
}

#free4
{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#free4
{
    height: 50px;
    width: 200px;
    background-color: black;
    
}

#acc
{
    display: flex;
    justify-content: center;
    height: 50px;
}

#abcd
{
    display: flex;
    justify-content: center;
}

#abc
{
    border-radius: 7px;
    margin-top: 2%;
    height: 40px;
    width: 200px;
    background-color: rgb(85, 134, 203);
}

#ab
{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

#perent-footer
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 300px;
    background-color: rgb(48, 44, 44);
}

#elements
{
    color: rgb(85, 134, 203);
    font-family: Arial, Helvetica, sans-serif;
}

#elements > a{
    display: block;
    margin-top: 10%;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#userName
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 10px;
}

#user-namef
{
    height: 30px;
    width: 300px;
}